<div class="form-group row align-items-center mx-0" [formGroup]="pricesGroup">
  <label class="col-2 px-0 mb-0 text-center text-dark"
  for="low"
  >От</label>
  <input class="form-control col-4"
  id="low"
  type="number"
  formControlName="low"
  [min]='options?.floor'
  [max]="options?.ceil"
  />

  <label class="col-2 px-0 mb-0 text-center text-dark"
  for="high"
  >до</label>
  <input class="form-control col-4"
  id="high"
  type="number"
  formControlName="high"
  [min]='options?.floor'
  [max]="options?.ceil"
  />
</div>
